:root {
  --hover-focus-color-others: #2196f3;
  --hover-focus-color-button: #188ce8;
  --logo-color: #2196f3;
  --title-color-hero: #ffffff;
  --title-color-second: #212121;
  --title-color-third: #212121;
  --text-color: #757575;
  --contacts-color-dark: #757575;
  --contacts-color-light: rgba(255, 255, 255, 0.6);
  --logo-word-dark: #000000;
  --logo-word-light: #ffffff;
  --color-text: #ffffff;
  --border-color: #ececec;
  --background-color: #f5f4fa;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "roboto", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
address {
  font-style: inherit;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-second);
}
.title-features-and-vault {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo > span {
  display: inline-block;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-word-dark {
  color: var(--logo-word-dark);
}
.logo-word-light {
  color: var(--logo-word-light);
}

/*----------------------------main and portfolio page header ---------------------------*/
.main-head,
.portfolio-head {
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.lists-header {
  display: flex;
  align-items: center;
}
.logo-header {
  margin-right: 93px;
}
.navigation-list {
  display: flex;
}
.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-right: 50px;
  position: relative;
}
.studio,
.portfolio,
.contacty {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-item > a:link,
.navigation-item > a:visited {
  color: var(--title-color-third);
}
.navigation-item > a:hover,
.navigation-item > a:focus {
  color: var(--hover-focus-color-others);
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  position: absolute;
  bottom: -32px;
}
.navigation-item > a.link.active {
  color: var(--hover-focus-color-others);
}
.header-contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.header-contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.mail,
.tel {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-contacts-item:last-child {
  margin-right: 0px;
}
.header-contacts-item > a:link {
  color: var(--contacts-color-dark);
}
.header-contacts-item > a:hover,
.header-contacts-item > a:focus {
  color: var(--hover-focus-color-others);
}
.header-contacts-item > a:hover .header-contacts-icon,
.header-contacts-item > a:focus .header-contacts-icon {
  fill: var(--hover-focus-color-others);
}
.header-contacts-icon {
  margin-right: 10px;
  fill: var(--contacts-color-dark);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
/*-----------------------------main page section 1 hero------------------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title-hero {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--title-color-hero);
}

.btn-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-focus-color-others);
  color: var(--color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: bacground-color var(--transition-duration)
    var(--transition-timing-function);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
}

/*---------------------------main page section 2 features----------------------*/

.features-list {
  display: flex;
}
.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:nth-child(4n + 4) {
  margin-right: 0px;
}
.features-icons {
  background-color: var(--background-color);
  margin-bottom: 30px;
  height: 120px;
  padding: 25px 100px;
}
.features-content-icons {
  width: 70px;
  height: 70px;
}
.title-features {
  color: var(--title-color-third);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*  -----main page section 3------------- */
.section-what-we-do {
  padding-bottom: 94px;
}
.titlt-what-we-do {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
}
.list-what-we-do {
  display: flex;
}
.item-what-we-do {
  margin-right: 30px;
}
.item-what-we-do:nth-child(3n + 3) {
  margin-right: 0px;
}
.what-we-do-blok {
  position: relative;
}
.what-we-do-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  min-height: 70px;
  background-color: #2f303a80;
  position: absolute;
  top: 224px;
}
/*-------------------main page section 4 oue team---------------------------*/
.our-team {
  background-color: var(--background-color);
}
.heading-our-team {
  margin-top: 0px;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
}
.our-team-list {
  display: flex;
}
.our-team-item:nth-child(4n + 4) {
  margin-right: 0px;
}
.our-team-item {
  margin-right: 30px;
}
.texts-elements-our-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color-third);
  text-align: center;
  margin-bottom: 10px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}
.our-team-list-icons {
  display: flex;
  justify-content: center;
}
.our-team-item-icons {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-item-icons:last-child {
  margin-right: 0px;
}
.our-team-social-links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.our-team-social-links:hover,
.our-team-social-links:focus {
  background-color: var(--hover-focus-color-others);
}
.our-team-social-links:hover .our-team-content-icons,
.our-team-social-links:focus .our-team-content-icons {
  fill: #ffffff;
}
.our-team-content-icons {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  padding: 12px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
/* ------------------main page section 5 regular customers---------------- */
.regular-customers-title {
  margin-bottom: 50px;
}
.regular-customers-list {
  display: flex;
}

.regular-customers-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.regular-customers-item:last-child {
  margin-right: 0px;
}
.regular-customers-links {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.regular-customers-icons {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.regular-customers-links:hover,
.regular-customers-links:focus {
  border-color: var(--hover-focus-color-others);
}
.regular-customers-links:hover .regular-customers-icons,
.regular-customers-links:focus .regular-customers-icons {
  fill: var(--hover-focus-color-others);
}
/*--------------------------------main and portfolio footer-------------------*/
.vault {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.vault-section {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.vault-lisi {
  margin-right: 70px;
}
.vault-item {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.google-address {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.vault-contact {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.vault-item > a.link.google-address {
  color: var(--color-text);
}
.vault-item > a.link.google-address:hover,
.vault-item > a.link.google-address:focus {
  color: var(--hover-focus-color-others);
}
.vault-item:not(:last-child) {
  margin-bottom: 9px;
}
.vault-item > a:link {
  color: var(--contacts-color-light);
}
.vault-item > a:hover,
.vault-item > a:focus {
  color: var(--hover-focus-color-others);
}

.title-vault {
  color: #ffffff;
}
.vault-list-icons {
  display: flex;
}
.vault-item-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.vault-item-icons:last-child {
  margin-right: 0px;
}
.vault-social-links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff10;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.vault-social-links:hover,
.vault-social-links:focus {
  background-color: var(--hover-focus-color-others);
}
.vault-content-icons {
  width: 44px;
  height: 44px;
  fill: #ffffff;
  padding: 12px;
}
/* ---------modal window----------------- */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modalwindow {
  transform: scale(0.3);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.modalwindow {
  width: 528px;
  min-height: 550px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.modalwindow-btn-close {
  width: 30px;
  height: 30px;
  border-color: #00000010;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.modalwindow-btn-close:hover,
.modalwindow-btn-close:focus {
  border-color: var(--hover-focus-color-others);
}

/*-----------------------------portfolio section 1 button----------------------------*/
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
.btn {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.63;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: var(--title-color-third);
  background-color: var(--background-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-focus-color-others);
  color: var(--color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*-------------------------portfolio section 2 projects--------------------------------*/

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.item-project {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 -30px);
  text-transform: capitalize;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.links-project {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}
.links-project:hover,
.links-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.links-project:hover .project-bloc-text-overflow,
.links-project:focus .project-bloc-text-overflow {
  transform: translateY(0);
}
.project-bloc {
  position: relative;
  overflow: hidden;
}
.project-bloc-text-overflow {
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2196f390;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.texts-elements-project {
  padding: 19px 23px;
  background-color: #fff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.title-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-color-third);
}
.text-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
